.cartao {
  width: 350px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 0rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imagemDepoimento {
  width: 150px; /* Ajuste o tamanho conforme necessário para caber o logo */
  height: 150px; /* Garante que seja um círculo */
  border-radius: 50%; /* Cria o formato circular */
  object-fit: contain; /* Garante que o logo inteiro caiba dentro do círculo sem cortar ou distorcer, adicionando espaço se necessário */
  background-color: #f9f9f9; /* Adiciona um fundo branco caso o logo tenha transparência e o cartão não */
  margin-bottom: 20px; /* Espaçamento entre a imagem e o texto */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Uma sombra sutil para destacar a imagem */
  display: block; /* Garante que a margem automática funcione */
  margin-left: auto;
  margin-right: auto; /* Centraliza a imagem horizontalmente */
}

.citacao {
  font-size: 1.1rem;
  font-style: italic;
  color: #555555;
  margin-bottom: 1rem;
}

.autor {
  font-weight: bold;
  color: #333333;
  margin-bottom: 0.3rem;
}

.empresa {
  font-size: 0.9rem;
  color: #777777;
}