/* styles/FormularioContato.module.css */

.secaoFormulario {
  position: relative;
  top: -80px;
  background-color: #c0c0c07f;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:950px ;
  top: 0px;

  margin-top: 5rem; 
}

.tituloFormulario {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 3rem;
  text-transform: uppercase;
  font-weight: bold;
    font-family: 'Montserrat', sans-serif
}

.formulario {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #c0c0c07f;
  border-radius: 8px;
 
}

.campo {
  margin-bottom: 1.5rem;
}

.labelCampo {
  display: block;
  font-size: 0.9rem;
  color: #555555;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.inputCampo {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
  color: #333333;
  outline: none;
  transition: border-color 0.3s ease;
}

.inputCampo:focus {
  border-color: #0070f3;
}

.textAreaCampo {
  resize: none;
  min-height: 120px;
}

.botaoEnviar {
  display: block;
  width: 155px;
  height: 40px;;
  padding: 0rem 1.5rem;
  background-color: #333333;
  color: #81f5ed;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: 0;
}

.botaoEnviar:hover {
  background-color: #595a5a;
}


@media (max-width: 768px) {
  .tituloFormulario {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .secaoFormulario {
  position: relative;
  top: -80px;
  background-color: #f0f0f000;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 650px;
 
  margin-top: 5rem; 
}

  .formulario {
    padding: 1.5rem;
  }

  .labelCampo {
    font-size: 0.8rem;
  }

  .inputCampo,
  .textAreaCampo {
    padding: 0.7rem 0.8rem;
    font-size: 0.9rem;
  }

  .botaoEnviar {
    width: 120px;
    position: relative;
    bottom: 20px;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
  }
}

  @media (max-width: 480px) {
  .tituloFormulario {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .secaoFormulario {
  position: relative;
  top: -50px;
  background-color: #f0f0f000;
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 650px;
 
  margin-top: 5rem;
}

  .formulario {
    padding: 1.5rem;
  }

  .labelCampo {
    font-size: 0.8rem;
  }

  .inputCampo,
  .textAreaCampo {
    padding: 0.7rem 0.8rem;
    font-size: 0.9rem;
  }

  .botaoEnviar {
    width: 120px;
    position: relative;
    bottom: 20px;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    margin-top: 1.5rem;
  }
}
