
.membroDetalhe {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
   max-width: 1100px; 
  margin-left: auto;
  margin-right: auto;
}

.imagemMembro {
  width: 150px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
  
}


.imagemMembro-samuel {
  border: 2px solid #0070f3;
}


.imagemMembro-susi {
  position: relative; 
  right: 520px; 
  top: 400px; 
  filter: grayscale(50%);
}


.textoMembro {
  flex-grow: 1;
  text-align: left;
  position: relative; 
 
  min-width: 0; 
  word-wrap: break-word; 
  overflow-wrap: break-word; 
}

.textoMembro h3 {
  font-size: 2rem;
  color: #333333;
  margin-bottom: 0.5rem;
  font-weight: bold;
  word-break: break-word; 
}

.textoMembro h4 {
  font-size: 1.2rem;
  color: #464747;
  margin-bottom: 0rem;
  font-weight: normal;
  word-break: break-word; 
}

.textoMembro {
  flex-grow: 100;
  text-align: center;
  position: relative;
  min-width: 550px; 
  word-wrap: none;
  overflow-wrap: break-word;
}


.textoMembro-samuel {
  text-align: justify; 
    word-spacing: 0.1em;

}


.textoMembro-susi {
  text-align:center;
  position:absolute;
  top:400px; 
  right: 500px;
  
}




/* Responsividade */
@media (max-width: 768px) {
  .membroDetalhe {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .imagemMembro {
    width: 200px;
    height: 200px;
  }
  .imagemMembro-samuel {
    border: 1px solid #0070f3;
  }
  .imagemMembro-susi {
    filter: none;
    position: static; /* É ALTAMENTE RECOMENDADO resetar o posicionamento em mobile para evitar quebras */
    right: auto;
    top: auto;
  }

  .textoMembro {
    text-align: center;
    position: relative; /* Mantido como você solicitou para mobile */
    min-width: auto; /* Reseta para mobile */
  }

  .textoMembro h3 {
    font-size: 1.8rem;
  }

  .textoMembro h4 {
    font-size: 1rem;
  }

  .textoMembro p {
    font-size: 0.9rem;
  }
}