

.rodape {
  background-color: #6fd0dd;
  color: #ffffff;
  padding: 2rem 1rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  
  height: 350px; 
  overflow: hidden; 

}

.logoPrincipal {position: relative;
 right: 410px;
     max-width: 1000px;
  width: 350px; 
  height: 100px; 
bottom: -100px;
  margin-bottom: 20px; 
}


.edenn {
  font-size: 5rem;
  color: white;
  margin-bottom: 0; 
  
}

.ss {
  font-size: 5rem;
  color: black;
  margin-bottom: 0; 
  
}

.slogan {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 1rem; 
  margin-bottom: 2rem; 
  display: block;
  text-align: center;
  width: auto;
  
}


.colunasRodape {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1; 
}

.colunaRodape
 {position: relative;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape2 {
  position: relative;
  display: flex;
  top: 80px;
  left: 110px;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape h3,
.colunaRodape2 h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.colunaRodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colunaRodape ul li {
  margin-bottom: 0.4rem;
}

.colunaRodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.colunaRodape ul li a:hover {
  color: #0070f3;
}

.colunaRodape p {
  color: #000000;
  margin-bottom: 0.4rem;
}

.emailSamuel {
  position: relative;
  top:0px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}

.emailSusi {
  position: relative;
  bottom: 40px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}


.socialIcons {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  left: 820px;
  bottom: 100px;
  margin-top: 20px; 
  margin-bottom: 20px; 
  
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons img {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(100%) brightness(180%);
  width: 30px; 
  height: 30px; 
}

.socialIcons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(100%);
}

@media (max-width: 1370px) {
   .logoPrincipal {position: relative;
 right: 155px;
     max-width: 1000px;
  width: 350px; 
  height: 120px; 
bottom: -50px;
  margin-bottom: 20px; 
}

.rodape {
  background-color: #6fd0dd;
  color: #ffffff;
  padding: 2rem 1rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1351px;

  box-sizing: border-box;
 
  height: 300px; 
  overflow: hidden;

}
.colunasRodape {
  position: relative;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
 gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1; 
}

.colunaRodape
 {position: relative;
  left: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape2 {
  position: relative;
  display: flex;
  top: 60px;
  left: 10px;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape h3,
.colunaRodape2 h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.colunaRodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colunaRodape ul li {
  margin-bottom: 0.4rem;
}

.colunaRodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.colunaRodape ul li a:hover {
  color: #0070f3;
}

.colunaRodape p {
  color: #000000;
  margin-bottom: 0.4rem;
}

.emailSamuel {
  position: relative;
  top:0px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}

.emailSusi {
  position: relative;
  bottom: 40px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}


.socialIcons {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  left:675px;
  bottom: 180px;
  margin-top: 20px; 
  margin-bottom: 20px; 
  
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons img {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(100%) brightness(180%);
  width: 30px; 
  height: 30px;
}

.socialIcons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(100%);
}
}
@media (max-width: 1024px) {
   .logoPrincipal {position: relative;
 right: 95px;
     max-width: 1000px;
  width: 450px; 
  height: 150px; 
bottom: -80px;
  margin-bottom: 20px; 
}

.rodape {
  background-color: #6fd0dd;
  color: #ffffff;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;

  box-sizing: border-box;
  
  height: 400px; 
  overflow: hidden; 

}
.colunasRodape {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1; 
}

.colunaRodape
 {position: relative;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape2 {
  position: relative;
  display: flex;
  top: 60px;
  left: -80px;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape h3,
.colunaRodape2 h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.colunaRodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colunaRodape ul li {
  margin-bottom: 0.4rem;
}

.colunaRodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.colunaRodape ul li a:hover {
  color: #0070f3;
}

.colunaRodape p {
  color: #000000;
  margin-bottom: 0.4rem;
}

.emailSamuel {
  position: relative;
  top:0px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}

.emailSusi {
  position: relative;
  bottom: 40px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}


.socialIcons {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  left:650px;
  bottom: 230px;
  margin-top: 20px; 
  margin-bottom: 20px; 
  
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons img {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(100%) brightness(180%);
  width: 30px; 
  height: 30px; 
}

.socialIcons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(100%);
}

}

@media (max-width: 900px) {
   .logoPrincipal {position: relative;
 right:85px;
     max-width: 1000px;
  width: 350px;
  height: 100px; 
bottom: 0px;
  margin-bottom: 20px; 
}

.rodape {
  background-color: #6fd0dd;
  color: #ffffff;
  padding: 2rem 1rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  
  height: 400px; 
  overflow: hidden; 

}
.colunasRodape {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1; 
}

.colunaRodape
 {position: relative;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape2 {
  position: relative;
  display: flex;
  top: 60px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape h3,
.colunaRodape2 h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.colunaRodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colunaRodape ul li {
  margin-bottom: 0.4rem;
}

.colunaRodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.colunaRodape ul li a:hover {
  color: #0070f3;
}

.colunaRodape p {
  color: #000000;
  margin-bottom: 0.4rem;
}

.emailSamuel {
  position: relative;
  top:0px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}

.emailSusi {
  position: relative;
  bottom: 40px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}


.socialIcons {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  left: 530px;
  bottom: 120px;
  margin-top: 20px; 
  margin-bottom: 20px; 
  
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons img {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(100%) brightness(180%);
  width: 30px; 
  height: 30px; 
}

.socialIcons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(100%);
}

}



@media (max-width: 768px) {
   .logoPrincipal {position: relative;
 right: 55px;
     max-width: 1000px;
  width: 280px; 
  height: 110px;
bottom: -50px;
  margin-bottom: 20px;
}

.rodape {
  background-color: #6fd0dd;
  color: #ffffff;
  padding: 2rem 1rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  
  height: 400px; 
  overflow: hidden; 

}
.colunasRodape {
  position: relative;
  top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1; 
}

.colunaRodape
 {position: relative;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape2 {
  position: relative;
  display: flex;
  top: 60px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape h3,
.colunaRodape2 h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.colunaRodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colunaRodape ul li {
  margin-bottom: 0.4rem;
}

.colunaRodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.colunaRodape ul li a:hover {
  color: #0070f3;
}

.colunaRodape p {
  color: #000000;
  margin-bottom: 0.4rem;
}

.emailSamuel {
  position: relative;
  top:0px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}

.emailSusi {
  position: relative;
  bottom: 40px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
 
}


.socialIcons {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  left: 430px;
  bottom: 150px;
  margin-top: 20px; 
  margin-bottom: 20px; 
  
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons img {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(100%) brightness(180%);
  width: 30px;              
  height: 30px;        
}

.socialIcons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(100%);
}

}


@media (max-width: 480px) {
 
.logoPrincipal {position: relative;
 right: -80px;
     max-width: 1000px;
  width: 300px; 
  height: 120px; 
bottom: -120px;
  margin-bottom: 20px; 
}

.rodape {
  background-color: #6fd0dd;
  color: #ffffff;
  padding: 2rem 1rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  
  height: 650px; 
  overflow: hidden; 

}
.colunasRodape {
  position: relative;
  top: -150px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1;
  right: 135px; 
}

.colunaRodape
 {position: relative;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape2 {
  position: relative;
  display: flex;
  top: 60px;
  left: 102px;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape h3,
.colunaRodape2 h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.colunaRodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colunaRodape ul li {
  margin-bottom: 0.4rem;
}

.colunaRodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.colunaRodape ul li a:hover {
  color: #0070f3;
}

.colunaRodape p {
  color: #000000;
  margin-bottom: 0.4rem;
}

.emailSamuel {
  position: relative;
  top:0px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}

.emailSusi {
  position: relative;
  bottom: 40px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}


.socialIcons {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  left: 0px;
  bottom: -350px;
  margin-top: 20px;
  margin-bottom: 20px; 
  
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons img {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(100%) brightness(180%);
  width: 30px; 
  height: 30px; 
}

.socialIcons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(100%);
}
}

@media (max-width: 430px) {
 
.logoPrincipal {position: relative;
 right: -80px;
     max-width: 1000px;
  width: 300px; 
  height: 120px; 
bottom: -120px;
  margin-bottom: 20px;  
}

.rodape {
  background-color: #6fd0dd;
  color: #ffffff;
  padding: 2rem 1rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  
  height: 650px; 
  overflow: hidden;

}
.colunasRodape {
  position: relative;
  top: -150px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1;
  right: 135px; 
}

.colunaRodape
 {position: relative;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape2 {
  position: relative;
  display: flex;
  top: 60px;
  left: 102px;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape h3,
.colunaRodape2 h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.colunaRodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colunaRodape ul li {
  margin-bottom: 0.4rem;
}

.colunaRodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.colunaRodape ul li a:hover {
  color: #0070f3;
}

.colunaRodape p {
  color: #000000;
  margin-bottom: 0.4rem;
}

.emailSamuel {
  position: relative;
  top:0px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}

.emailSusi {
  position: relative;
  bottom: 40px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}


.socialIcons {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  left: 0px;
  bottom: -350px;
  margin-top: 20px;
  margin-bottom: 20px; 
  
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons img {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(100%) brightness(180%);
  width: 30px; 
  height: 30px; 
}

.socialIcons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(100%);
}
}

@media (max-width: 380px) {
 
 .logoPrincipal {position: relative;
 right: -20px;
     max-width: 1000px;
  width: 300px; 
  height: 120px;
bottom: -120px;
  margin-bottom: 20px; 
}

.rodape {
  background-color: #6fd0dd;
  color: #ffffff;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
 
  height: 650px;
  overflow: hidden; 

}
.colunasRodape {
  position: relative;
  top: -150px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1;
  right: 135px; 
}

.colunaRodape
 {position: relative;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape2 {
  position: relative;
  display: flex;
  top: 60px;
  left: 102px;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape h3,
.colunaRodape2 h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.colunaRodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colunaRodape ul li {
  margin-bottom: 0.4rem;
}

.colunaRodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.colunaRodape ul li a:hover {
  color: #0070f3;
}

.colunaRodape p {
  color: #000000;
  margin-bottom: 0.4rem;
}

.emailSamuel {
  position: relative;
  top:0px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}

.emailSusi {
  position: relative;
  bottom: 40px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
  
}


.socialIcons {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  left: 0px;
  bottom: -350px;
  margin-top: 20px; 
  margin-bottom: 20px; 
  
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons img {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(100%) brightness(180%);
  width: 30px; 
  height: 30px; 
}

.socialIcons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(100%);
}
}

@media (max-width: 360px) {
 
 .logoPrincipal {position: relative;
 right: -20px;
     max-width: 1000px;
  width: 300px; 
  height: 120px; 
bottom: -120px;
  margin-bottom: 20px; 
}

.rodape {
  background-color: #6fd0dd;
  color: #ffffff;
  padding: 2rem 1rem; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
 
  height: 650px;
  overflow: hidden; 

}
.colunasRodape {
  position: relative;
  top: -150px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  flex-grow: 1;
  right: 135px; 
}

.colunaRodape
 {position: relative;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape2 {
  position: relative;
  display: flex;
  top: 60px;
  left: 102px;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
  flex: 1;
  min-width: 200px;
  padding: 0 1rem;
  box-sizing: border-box;
}

.colunaRodape h3,
.colunaRodape2 h3 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #000000;
}

.colunaRodape ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colunaRodape ul li {
  margin-bottom: 0.4rem;
}

.colunaRodape ul li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.colunaRodape ul li a:hover {
  color: #0070f3;
}

.colunaRodape p {
  color: #000000;
  margin-bottom: 0.4rem;
}

.emailSamuel {
  position: relative;
  top:0px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
 
}

.emailSusi {
  position: relative;
  bottom: 40px;
  right: 10px;

  margin-top: 0px;
  padding: 10px;
  color: rgb(0, 0, 0);
 
}

.socialIcons {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 15px;
  left: 0px;
  bottom: -350px;
  margin-top: 20px; 
  margin-bottom: 20px; 
 
}

.socialIcons a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons img {
  transition: transform 0.2s ease-in-out;
  filter: grayscale(100%) brightness(180%);
  width: 30px;
  height: 30px; 
}

.socialIcons img:hover {
  transform: scale(1.1);
  filter: grayscale(0%) brightness(100%);
}
}