.heroSection {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.heroImage {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  object-fit: contain; 
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}

.fadeIn {
  opacity: 1;
}

.fadeOut {
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.heroTitleContainer {
    /* Posicionamento do texto */
    position: absolute;
    top: 13%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 2; /* Acima do overlay */
    
    /* Ajuste para que o contêiner se alinhe bem, mas não estoure */
    width: auto; 
    max-width: 90%; 
}

/* TÍTULO - Responsável pela ESTILIZAÇÃO DO TEXTO E DO FUNDO CINZA 3D */
.heroTitle {
    /* Mantenha as propriedades de texto */
    color: #ffffff; 
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-align: left;
    line-height: 1.1;
    margin: 0;
    
    /* --- FUNDO CINZA TRANSPARENTE --- */
    background-color: rgb(0, 0, 0); /* Cinza escuro com 70% de opacidade */
    padding: 15px 25px; /* Espaçamento interno para o fundo */
    border-radius: 8px; /* Bordas arredondadas (opcional) */
    
    /* CRUCIAL: Faz o fundo se ajustar ao tamanho exato do texto, mesmo com quebras de linha */
    display: inline-block; 
    
    /* Garante que a sombra 3D seja vista corretamente */
    position: relative; 
    z-index: 1; 

    /* --- EFEITO 3D com Box-shadow --- */
    box-shadow: 
        /* 1. Sombra principal (simula o objeto levantado) */
        0 8px 15px rgba(0, 0, 0, 0.4),
        /* 2. Sombra inferior/lateral (efeito chanfrado/profundidade) */
        4px 4px 0px rgba(0, 0, 0, 0.6); 

    /* Text-shadow para dar um bom contraste ao texto sobre o fundo */
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8); 
}
.line {
  display: block;
}

.experienciasAzul {
  color: #64c1df;
}


.carouselArrow {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 2rem;
  z-index: 3;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.carouselArrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.arrowLeft {
  left: 20px;
}

.arrowRight {
  right: 20px;
}



@media (max-width: 1200px) {
  .heroTitle {
    font-size: 3rem;
    left: 4%;
  }

  

}

@media (max-width: 768px) {
  .heroSection {
    height: 50vh;
  }
  .heroTitle {
    font-size: 2rem;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  
  .carouselArrow {
    display: none;
  }
}

@media (max-width: 480px) {
  .heroTitle {
    font-size: 1.3rem;
    top: 70px;
    line-height: 1.2;
  }
}