
.titulo { 
  font-size: 2.2rem; 
  text-align: center;
  color: #000000;
  margin-bottom: 2rem; 
  margin-top: 1.5rem; 
  padding: 0 1rem;
   font-family: 'Montserrat', sans-serif
}

.gradeServicos { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem; 
  padding: 0 1rem; 
  max-width: 1200px;
  margin: 0 auto;
}


@media (min-width: 780px) { 
  .titulo {
    font-size: 3rem; 
    margin-bottom: 3rem; 
    margin-top: 2rem; 
    padding: 0;
      color: #000000;
  }

  .gradeServicos { 
   
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem; 
    padding: 0 1rem; 
  }
}